*.iml
/BusinessDiary/.gradle
/BusinessDiary/.idea
/BusinessDiary/app/build
/BusinessDiary/local.properties
.DS_Store
/BusinessDiary/build
/BusinessDiary/captures
.externalNativeBuild
.cxx
local.properties
